@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roobert';
    src: url(fonts/roobert-pro/RoobertPRO-Bold.woff);
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roobert';
    src: url(fonts/roobert-pro/RoobertPRO-Light.woff);
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roobert';
    src: url(fonts/roobert-pro/RoobertPRO-Medium.woff);
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roobert';
    src: url(fonts/roobert-pro/RoobertPRO-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }

  @layer utilities {
    .carousel-item-active {
      transform: scale(1) !important;
      opacity: 1 !important;
    }
  }